#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Custom Styling */

.theme-dark {
  --text-color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 690px) {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  :root {
    --text-size-base: 1rem;
    --text-size-medium: 1.25rem;
    --text-size-large: 1.5rem;
    --gap: 16px;
    --fullbleed-margin: 8px;
    --color: var(--text-color, rgba(255, 255, 255, 0.87));
    --section-padding: calc(var(--fullbleed-margin) * 2);
    --inline-slider-item-width: 168px;
    --inline-image-size: 152px;
    --border-radius: 6px;
    --corner-radius-base: 4px;
    --spacing-tighter: 12px;
    --header-background-rgb: rgba(0, 0, 0, 0.5);
    --header-background: var(--header-background-rgb, transparent);
    --list-item-height: 56px;
  }

  body {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    place-items: center;
    min-width: 320px;
    min-height: max-content;
    margin: 0;
    overflow-y: scroll;
  }

  body, input {
    color: #fff;
    font-size: 16px;
    line-height: normal;
    text-transform: none;
  }

  a, a:focus, a:hover {
    text-decoration: none;
  }

  #root {
    max-width: 1280px;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
    display: flex;
    position: relative;
    width: 100%;
  }

  .site-wrapper {
    min-width: 100%;
    width: -webkit-fill-available;
    height: 100%;
    z-index: 0;
  }

  .css-hu6rs9-MuiButtonBase-root-MuiIconButton-root{
    padding-left: 0 !important;
  }

  .css-xip06h-MuiButtonBase-root-MuiIconButton-root{
    padding-right: 0 !important;
  }

  h1 {
    font-size: var(--text-size-large);
    
  }

  h2 {
    font-size: var(--text-size-medium);
  }

  h1, h2, h3, h4 {
    font-weight: 700;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    color: inherit;
    margin-block-end: 0;
  }

  /* Home */

  section {
    --gap: 0;
    padding: 0 16px 16px;
    z-index: 0;
  }

  .section-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    margin-bottom: 12px !important;
    margin-top: 24px !important;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .section-header h2 {
    text-align: left;
  }

  .section-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: var(--gap);
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .section-slider-item {
    --gap: 0;
    --fullbleed-margin: 8px;
    box-sizing: border-box;
    max-inline-size: var(--inline-slider-item-width);
    -webkit-tap-highlight-color: transparent;
    border-radius: var(--border-radius, 6px);
    min-block-size: 48px;
    color: var(--color, #000000);
    padding-block: 8px;
    padding-inline: 8px;
    --animation-speed: 300ms;
    --animation-ease: ease;
    --bg-inset-change-press: -4px;
    cursor: pointer;
    scroll-snap-align: center;
    z-index: 0;
  }

  .section-slider-item:first-child {
    margin-left: var(--fullbleed-margin, 8px);
  }

  .section-slider-item, .slider-card {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    row-gap: var(--fullbleed-margin, 8px);
  }

  .card-link {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    border-radius: var(--border-radius, 6px);
    min-block-size: 48px;
    z-index: 0;
    color: var(--color, #000000);
    padding-block: 8px;
    padding-inline: 8px;
    --animation-speed: 300ms;
    --animation-ease: ease;
    --bg-inset-change-press: -4px;
    cursor: pointer;
    z-index: 0;
  }

  .card-image {
    min-inline-size: 152px;
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
    object-fit: cover;
    inline-size: 100%;
    border-radius: var(--corner-radius-base, 4px);
  }

  .card-footer{
    display: flex;
    column-gap: var(--spacing-tighter, 12px);
    -webkit-box-align: center;
    align-items: center;
  }

  .card-footer-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-basis: 100%;
    align-items: flex-start;
  }

  .card-footer-link {
    position: relative;
    color: inherit;
    font-weight: 400;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
  }

  .card-footer-link span{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .overflow-wrap {
    outline: none;
    text-decoration: none;
  }

  @supports (overflow-wrap:anywhere) {
    .overflow-wrap {
        overflow-wrap: anywhere;
    }
  }

  /* Show */

  section.show {
    --bottomMargin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    isolation: isolate;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    padding-bottom: var(--bottomMargin, 0);
  }

  .show-content {
    position: relative;
  }

  .show-hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 72px 16px 16px;
    gap: 8px;
    z-index: 0;
  }

  .show-hero-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-self: center;
    -ms-flex-align: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 144px;
    width: clamp(144px, 40vw, 288px);
    aspect-ratio: 1 / 1;
    margin-bottom: 8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #535353;-webkit-filter: drop-shadow(0 0 18.3529px rgba(0, 0, 0, .3));
    filter: drop-shadow(0 0 18.3529px rgba(0, 0, 0, .3));
    overflow: hidden;
    opacity: 1;
  }

  .show-hero-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
  }

  .show-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    z-index: 0;
  }

  .show-subtitle {
    display: block;
    text-overflow: ellipsis;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    white-space: pre;
  }

  span + span::before {
    content: " • ";
  }

  .show-list-container {
    display: flex;
    flex-direction: column;
  }

  .show-list-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    margin-bottom: 12px !important;
    margin-top: 24px !important;
    padding: 0 16px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .show-list-header h4 {
    text-align: left;
  }

  .show-list {
    display: block;
    width: calc(100vw - 32px - 0px);
    margin: 0 auto;
  }

  .show-list-content {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
  }

  .show-list-item {
    display: flex;
    position: relative;
    padding: 0 8px;
    margin: 0 16px;
    align-items: center;
    height: var(--list-item-height, 56px);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }

  .show-list-item-left {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 16px 0 0;
    flex: none;
    border-radius: 2px;
    overflow: hidden;
  }

  .show-list-item-index {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
  }

  .show-list-item-thumbnail-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  }

  .show-list-item-index-content {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
  }

  .show-list-item-play-button-container {
    display: inline-block;
    position: relative;
    --paper-spinner-stroke-width: 2px;
    --paper-spinner-color: #aaa;
    --play-button-size: 40px;
    --play-button-icon-size: 24px;
    --play-button-loading-indicator-size: var(--play-button-size);
  }

  .show-list-item-play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--play-button-size);
    height: var(--play-button-size);
    border-radius: 50%;
    overflow: hidden;
    background: var(--play-button-background-color);
    transition: transform .2s cubic-bezier(.2,0,.6,1), background .2s cubic-bezier(.2,0,.6,1);
    cursor: pointer;
  }

  .show-list-item-play-button-icon {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: calc(var(--play-button-icon-size) / 32);
    width: var(--play-button-icon-size);
    height: var(--play-button-icon-size);
    vertical-align: middle;
    /* color: rgba(255,255,255,1.000); */
  }

  .show-list-item-play-button-icon svg {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%; /* 24px */
  }

  .show-list-item-center {
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
    flex-wrap: wrap;
  }

  .show-list-item-title {
    display: flex;
    height: 20px;
    margin: 0 0 3px;
    flex: 6 1 0;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
  }

  .show-list-item-link {
    display: block;
    margin-right: -.1em;
    padding-right: .1em;
    white-space: pre;
    word-wrap: none;
    word-break: none;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .show-list-item-text {
    display: flex;
    flex: 9 1 0;
    flex-basis: 1px;
    overflow: hidden;
    align-items: center;
    font-weight: 400;
    color: #aaa;
  }

  .show-list-item-text span + span::before {
    content: " • ";
  }


  
  
}

.padding-0 {
 padding: 0 !important;
}